@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --sidebar-width: 70px;
  --learnova-gradient-left: #1A237E;
  --learnova-gradient-right: #26C6DA;
  --btn-hover-background-color: hsla(187, 71%, 50%, 0.3);
  --btn-active-transform-scale: scale(0.95);
  --main-content-dropdown-background-color: hsl(187, 71%, 90%);
  --dropdown-btn-hover-background-color: hsl(235, 66%, 70%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.shadow-box-1 {
  box-shadow: 1px 1px 5px 1px hsla(187, 71%, 50%, 0.4);
}

body {
  min-height: 100vh;
  background-image: url("/assets/images/body_background.png");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #7cdce9;
}
body::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-radius: 5px;
  cursor: grab;
}
body::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main > * {
  border-radius: 10px;
}

.main-header {
  height: 56px;
  position: sticky;
  top: 10px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 4;
  backdrop-filter: blur(10px);
  background-color: hsla(235, 66%, 70%, 0.5);
}
.main-header .left-section {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70%;
  overflow: hidden;
}
.main-header .left-section .ls-hamburger-btn {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  display: none;
  transform: translateX(-90px);
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.4s ease;
}
.main-header .left-section .ls-hamburger-btn:active {
  transform: scale(0.95);
}
.main-header .left-section .ls-hamburger-btn img {
  width: 24px;
  height: 24px;
}
.main-header .left-section .logo-icon {
  height: 80%;
}
.main-header .left-section .logo-text {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header .left-section .logo-text img {
  height: 50%;
}
.main-header .middle-section .page-title {
  color: #1A237E;
  font-size: 1.5rem;
}
.main-header .right-section {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-header .right-section .rh-btn {
  height: 40px;
  width: 40px;
  border-radius: 30%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.4s ease;
}
.main-header .right-section .rh-btn:hover {
  background-color: hsla(187, 71%, 50%, 0.3);
}
.main-header .right-section .rh-btn:active {
  transform: scale(0.95);
}
.main-header .right-section .rh-btn .h-btn-icon {
  width: 22px;
  height: 22px;
}
.main-header .right-section #role-btn {
  width: auto;
  padding: 0 10px;
  gap: 5px;
  position: relative;
}
.main-header .right-section #role-btn .role-dropdown-arrow {
  width: 10px;
  height: 10px;
}
.main-header .right-section .role-dropdown {
  position: absolute;
  top: 60px;
  right: 40px;
  width: 100px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 1px 1px 5px 1px hsla(187, 71%, 50%, 0.4);
}
.main-header .right-section .role-dropdown.rd-shown {
  visibility: visible;
}
.main-header .right-section .role-dropdown.rd-hidden {
  visibility: hidden;
}
.main-header .right-section .role-dropdown > * {
  height: 30px;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #1A237E;
  background-color: hsla(187, 71%, 50%, 0.1);
  transition: background-color 0.5s ease, transform 0.2s ease;
  box-shadow: 0px 1px 0px 0px hsla(0, 0%, 0%, 0.1);
}
.main-header .right-section .role-dropdown > *:hover {
  background-color: hsla(187, 71%, 50%, 0.3);
}
.main-header .right-section .role-dropdown > *:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 0px 0px hsla(0, 0%, 0%, 0.1);
}
.main-header .right-section .role-dropdown > * img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.main-header .right-section .role-dropdown > * p {
  font-size: 0.7rem;
}
.main-header .right-section .role-dropdown .student-role-btn {
  border-top-right-radius: 8.84px;
  border-top-left-radius: 8.84px;
}
.main-header .right-section .role-dropdown .instructor-role-btn {
  margin: 5px 0;
}
.main-header .right-section .role-dropdown .admin-role-btn {
  border-bottom-right-radius: 8.84px;
  border-bottom-left-radius: 8.84px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  min-height: calc(100vh - 86px);
  margin: 10px;
  margin-bottom: 0;
}
.main-content > * {
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.5);
}
.main-content .index.content {
  flex-grow: 1;
  margin-left: 85px;
  min-height: 150vh;
  transition: margin-left 0.5s ease;
  padding: 20px;
}
.main-content .index.content .ic-dropdown-set {
  position: relative;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown {
  position: absolute;
  overflow: hidden;
  background-color: hsl(187, 71%, 90%);
  border: 1px solid gray;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul {
  text-align: left;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul > *:not(:last-child) {
  border-bottom: 1px solid gray;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul li {
  height: 30px;
  font-size: 0.9rem;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul li a {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul li:hover {
  background-color: var(--dropdown-btn-hover-background-color);
}

.main-footer {
  min-height: 56px;
  background-color: hsla(0, 0%, 100%, 0.5);
  margin: 10px;
  margin-top: 0;
}

.left.sidebar {
  position: fixed;
  bottom: 10px;
  top: 76px;
  width: 75px;
  padding: 15px;
  transition: width 0.5s ease, transform 0.5s ease;
  backdrop-filter: blur(10px);
  z-index: 2;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.left.sidebar::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
.left.sidebar::-webkit-scrollbar-track {
  background-color: #7cdce9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.left.sidebar::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: grab;
}
.left.sidebar::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.left.sidebar.ls-collapsed.scrolling {
  width: 85px;
}
.left.sidebar.ls-collapsed {
  width: 75px;
}
.left.sidebar.ls-collapsed .ls-collapse-icon {
  transform: scaleX(1) rotateZ(-90deg);
}
.left.sidebar.ls-expanded.scrolling {
  width: 210px;
}
.left.sidebar.ls-expanded {
  width: 200px;
}
.left.sidebar.ls-expanded .ls-collapse-icon {
  transform: scaleX(-1) rotateZ(-90deg);
}
.left.sidebar .sidebar-content {
  flex-direction: column;
  gap: 5px;
}
.left.sidebar .sidebar-content .ls-dropdown-set {
  width: 100%;
  border-radius: 10px;
  background-color: hsla(187, 71%, 50%, 0.3);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-btn {
  height: 50px;
  background-color: hsla(235, 66%, 50%, 0.3);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-btn-dropdown {
  width: 100%;
  height: 20px;
  border: none;
  margin-top: 5px;
  border-radius: 7px;
  background-color: transparent;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-btn-dropdown:hover {
  background-color: hsla(187, 71%, 50%, 0.1);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-btn-dropdown img {
  height: 10px;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown {
  display: none;
  padding: 0 5px;
  padding-bottom: 10px;
  overflow: hidden;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown > *:not(:last-child) {
  margin-bottom: 3px;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown .ls-dropdown-btn {
  border: none;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 2px 7.5px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  background-color: hsl(235, 66%, 90%);
  transition: background-color 0.5s ease;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown .ls-dropdown-btn:hover {
  background-color: hsla(187, 71%, 50%, 0.3);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown .ls-dropdown-btn .ls-dropdown-icon {
  width: 20px;
  height: 20px;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown .ls-dropdown-btn .ls-dropdown-text {
  font-size: 0.7rem;
  color: #1A237E;
}
.left.sidebar .sidebar-content .ls-btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  position: relative;
  background-color: hsla(187, 50%, 70%, 0.5);
  box-shadow: 0px 1px 1px 1px hsla(0, 0%, 0%, 0.1);
  transition: transform 0.1s ease, background-color 0.4s ease, box-shadow 0.1s ease;
}
.left.sidebar .sidebar-content .ls-btn .ls-btn-icon {
  width: 25px;
  height: 25px;
}
.left.sidebar .sidebar-content .ls-btn-text {
  white-space: nowrap;
  overflow: hidden;
  color: #1A237E;
  font-weight: bold;
  font-size: 0.7rem;
}
.left.sidebar .sidebar-content .ls-btn::after {
  content: var(--after-content, "");
  display: var(--after-display, none);
  position: absolute;
  top: 39px;
  left: -10px;
  max-width: 75px;
  background-color: hsla(235, 66%, 30%, 0.3);
  backdrop-filter: blur(10px);
  pointer-events: none;
  border-radius: 5px;
  padding: 0 5px;
  color: hsl(187, 79%, 5%);
  font-size: 0.6rem;
  z-index: 999;
}
.left.sidebar .sidebar-content .ls-btn:hover {
  background-color: hsla(187, 50%, 70%, 0.5);
}
.left.sidebar .sidebar-content .ls-btn:active {
  transform: translate(0px, 1px);
  box-shadow: 0px 0px 0px 0px hsla(0, 0%, 0%, 0.1);
}
.left.sidebar .sidebar-content .ls-announcements {
  word-break: break-all;
}
.left.sidebar #ls-collapse-btn {
  width: 30px;
  height: 30px;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 3;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: hsl(187, 71%, 50%);
  transition: transform 0.2s ease, background-color 0.4s ease;
}
.left.sidebar #ls-collapse-btn:hover {
  background-color: hsla(187, 71%, 50%, 0.7);
}
.left.sidebar #ls-collapse-btn:active {
  transform: scale(0.95);
}
.left.sidebar #ls-collapse-btn .ls-collapse-icon {
  width: 50%;
  height: 50%;
  transition: transform 0.5s ease;
}

.right.sidebar {
  position: fixed;
  background-color: hsla(235, 66%, 30%, 0.9);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column-reverse;
  overscroll-behavior: contain;
  z-index: 1;
  box-shadow: 0px 0px 20px 3px hsla(240, 100%, 75%, 0.5);
}
.right.sidebar .input-box {
  background-color: hsl(235, 66%, 60%);
  border-radius: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
  flex-shrink: 0;
  width: 240px;
}
.right.sidebar .input-box #prompt-p.empty::before {
  content: "Ask anything...";
}
.right.sidebar .input-box .prompt-text-area {
  background-color: transparent;
  height: auto;
  min-height: 40px;
  max-height: 100px;
  overflow-y: auto;
  border: none;
  color: #1A237E;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.right.sidebar .input-box .prompt-text-area #prompt-p {
  color: hsl(187, 71%, 80%);
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.right.sidebar .input-box .prompt-text-area #prompt-p::-webkit-scrollbar {
  width: 10px;
}
.right.sidebar .input-box .prompt-text-area #prompt-p::-webkit-scrollbar-track {
  background-color: #7cdce9;
  border-radius: 10px;
}
.right.sidebar .input-box .prompt-text-area #prompt-p::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-radius: 5px;
  cursor: grab;
}
.right.sidebar .input-box .prompt-text-area #prompt-p::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.right.sidebar .input-box .prompt-text-area #prompt-p.empty::before {
  color: hsl(187, 71%, 70%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.right.sidebar .input-box .prompt-text-area #prompt-p:focus {
  outline: none;
}
.right.sidebar .input-box .features {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right.sidebar .input-box .features .right-section button {
  height: 27px;
  width: 27px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right.sidebar .input-box .features .right-section button:active {
  transform: var(--btn-active-transform-scale);
}
.right.sidebar .input-box .features .right-section button img {
  width: 100%;
  height: 100%;
}
.right.sidebar .input-box .features .left-section {
  display: flex;
  gap: 3px;
}
.right.sidebar .input-box .features .left-section > * {
  background-color: transparent;
  border: 1px solid #7cdce9;
  color: #7cdce9;
  padding: 3px 5px;
  border-radius: 50px;
  font-size: 0.6rem;
  transition: background-color 0.5s ease;
}
.right.sidebar .input-box .features .left-section > *:hover {
  background-color: var(--btn-hover-background-color);
}
.right.sidebar .input-box .features .left-section > *:active {
  transform: var(--btn-active-transform-scale);
}
.right.sidebar.expanded {
  width: 280px;
  height: calc(100vh - 106px);
  bottom: 20px;
  right: 20px;
  padding: 20px;
  overflow: hidden;
}
.right.sidebar.expanded #rs-collapse-btn {
  right: 0px;
  top: 0px;
}
.right.sidebar.collapsed {
  width: 50px;
  height: 50px;
  bottom: 86px;
  right: 20px;
  overflow: hidden;
}
.right.sidebar.collapsed #rs-collapse-btn {
  right: 0px;
  top: 0px;
}
.right.sidebar #rs-collapse-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  z-index: 999;
}
.right.sidebar #rs-collapse-btn #rs-collapse-icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.student-sidebar-content {
  display: flex;
}

.instructor-sidebar-content {
  display: none;
}

.admin-sidebar-content {
  display: none;
}

.chatbot {
  width: 10%;
}

.my-courses-page {
  display: none;
  width: 100%;
  height: 100%;
}
.my-courses-page .subtitle {
  padding: 30px 0;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
  margin-bottom: 30px;
  color: #1A237E;
}
.my-courses-page .filter-and-search {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.my-courses-page .filter-and-search > * {
  height: 30px;
  background-color: transparent;
}
.my-courses-page .filter-and-search > *:not(input) button {
  height: 100%;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}
.my-courses-page .filter-and-search input {
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.2);
}
.my-courses-page .filter-and-search .mcp.ic-dropdown-set .ic-dropdown-btn {
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.2);
}
.my-courses-page .filter-and-search .mcp.ic-dropdown-set .ic-dropdown {
  display: none;
  left: 0;
  top: 35px;
  min-width: 150px;
  border-radius: 5px;
  z-index: 1;
}
.my-courses-page .filter-and-search .dropdown-arrow {
  height: 10px;
  height: 10px;
}
.my-courses-page .courses-grid {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.my-courses-page .courses-grid > * {
  height: 200px;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  box-shadow: 0 3px 15px hsla(240, 100%, 25%, 0.25);
  max-width: 400px;
  position: relative;
}
.my-courses-page .courses-grid > *::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 20%;
  background-image: url("/assets/images/sky-shining-star-3i.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.my-courses-page .courses-grid > * img {
  display: block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.my-courses-page .courses-grid > * .details {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(20px);
}
.my-courses-page .courses-grid > * .details > * {
  font-size: 0.9rem;
}
.my-courses-page .courses-grid > * .details .title {
  color: hsl(187, 71%, 20%);
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}
.my-courses-page .courses-grid > * .details .title:hover {
  text-decoration: underline;
}
.my-courses-page .courses-grid > * .details .d-bottom-section {
  display: flex;
  gap: 10px;
  margin-top: auto;
}
.my-courses-page .courses-grid > * .details .d-bottom-section .progress {
  flex-grow: 1;
}
.my-courses-page .courses-grid > * .details .d-bottom-section .progress .bar {
  margin-top: 3px;
  height: 5px;
  border: 1px solid;
}
.my-courses-page .courses-grid > * .details .d-bottom-section .progress .bar .fill {
  height: 100%;
  width: 58.3333333333%;
  background-color: black;
}
.my-courses-page .courses-grid > * .details .d-bottom-section .course-card-options {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-courses-page .courses-grid > * .details .d-bottom-section .course-card-options:hover {
  background-color: hsla(0, 0%, 50%, 0.3);
}
.my-courses-page .courses-grid > * .details .d-bottom-section .course-card-options img {
  height: 15px;
  width: 15px;
}

@media (max-width: 500px) {
  .main-header .left-section .ls-hamburger-btn {
    transform: translateX(0);
  }
  .main-header {
    height: 40px;
    padding: 0 20px;
    padding-right: 10px;
  }
  .main-header .left-section .ls-hamburger-btn {
    width: 30px;
    height: 30px;
    display: flex;
  }
  .main-header .left-section .ls-hamburger-btn img {
    height: 20px;
    height: 20px;
  }
  .main-header .middle-section {
    display: none;
  }
  .main-header .right-section {
    gap: 1px;
  }
  .main-header .right-section .rh-btn {
    width: 30px;
    height: 30px;
  }
  .main-content .left.sidebar {
    transform: translateX(-95px);
    width: 70px;
    margin-left: 10px;
  }
  .main-content .left.sidebar.ls-collapsed.scrolling {
    width: 80px;
  }
  .main-content .left.sidebar.ls-collapsed {
    width: 70px;
  }
  .main-content .left.sidebar.ls-collapsed .ls-collapse-icon {
    transform: scaleX(1) rotateZ(-90deg);
  }
  .main-content .left.sidebar.ls-expanded.scrolling {
    width: 160px;
  }
  .main-content .left.sidebar.ls-expanded {
    width: 150px;
  }
  .main-content .left.sidebar.ls-expanded .ls-collapse-icon {
    transform: scaleX(-1) rotateZ(-90deg);
  }
  .main-content .left.sidebar.ls-hidden {
    transform: translateX(-95px);
  }
  .main-content .left.sidebar.ls-shown {
    transform: translateX(0px);
  }
  .main-content .left.sidebar .sidebar-content .ls-btn {
    height: 35px;
  }
  .main-content .left.sidebar .sidebar-content .ls-btn-icon {
    width: 20px;
    height: 20px;
  }
  .main-content .left.sidebar .sidebar-content .ls-btn-text {
    font-size: 0.5rem;
  }
  .main-content .index.content {
    margin-left: 0;
  }
}/*# sourceMappingURL=index.css.map */