@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --sidebar-width: 70px;
    --learnova-gradient-left: #1A237E;
    --learnova-gradient-right: #26C6DA;
    --btn-hover-background-color: hsla(187, 71%, 50%, 0.3);
    --btn-active-transform-scale: scale(0.95);
    --main-content-dropdown-background-color: hsl(187, 71%, 90%);
    --dropdown-btn-hover-background-color: hsl(235, 66%, 70%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shadow-box-1 {
    box-shadow: 1px 1px 5px 1px hsla(187, 71%, 50%, 0.4);
}
body {
    min-height: 100vh;
    // width: 100vw;
    // padding: 10px;
    background-image: url("/assets/images/body_background.png");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    // overflow: hidden;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        &-track {
            background-color: #7cdce9;
            // border-radius: 10px;
        }
        &-thumb {
            background-color: #1A237E;
            border-radius: 5px;
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > * {
        border-radius: 10px;
    }
}
.main-header {
    height: 56px;
    position: sticky;
    top: 10px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 4;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: hsla(235, 66%, 70%, 0.5);
    .left-section {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 70%;
        overflow: hidden;
        .ls-hamburger-btn {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border-radius: 10px;
            border: none;
            display: none;
            transform: translateX(-90px);
            align-items: center;
            justify-content: center;
            transition: transform 0.2s ease, background-color 0.4s ease;
            &:active {
                transform: scale(0.95);
            }
            img {
                width: 24px;
                height: 24px;
            }
        }
        .logo-icon {
            height: 80%;
        }
        .logo-text {
            height: 100%;
            display: flex;
            align-items: center;
            img {
                height: 50%;
            }
        }
    }
    .middle-section {
        .page-title {
            color: #1A237E;
            font-size: 1.5rem;
        }
    }
    .right-section {
        display: flex;
        align-items: center;
        gap: 5px;
        .rh-btn {
            height: 40px;
            width: 40px;
            border-radius: 30%;
            border: none;
            // overflow: hidden;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s ease, background-color 0.4s ease;
            &:hover {
                background-color: hsla(187, 71%, 50%, 0.3);
            }
            &:active {
                transform: scale(0.95);
            }
            .h-btn-icon {
                width: 22px;
                height: 22px;
            }
        }
        #role-btn {
            width: auto;
            padding: 0 10px;
            // border-radius: 10px;
            gap: 5px;
            position: relative;
            // overflow: visible;
            .role-dropdown-arrow {
                width: 10px;
                height: 10px;
            }
        }
        .role-dropdown {
            position: absolute;
            top: 60px;
            right: 40px;
            width: 100px;
            // height: 100px;
            // border: 1px solid gray;
            background-color: hsla(0, 0%, 100%, 0.8);
            border-radius: 10px;
            overflow: hidden;
            padding: 5px;
            box-shadow: 5px 5px 5px gray;
            // display: flex;
            // flex-direction: column;
            &.rd-shown {
                // display: block;
                visibility: visible;
            }
            &.rd-hidden {
                // display: none;
                visibility: hidden;
            }
            & > * {
                height: 30px;
                width: 100%;
                border: none;
                display: flex;
                align-items: center;
                padding-left: 5px;
                // margin: 5px 0;
                color: #1A237E;
                background-color: hsla(187, 71%, 50%, 0.1);
                transition: background-color 0.5s ease;
                box-shadow: 0px 0px 3px 1px hsla(187, 71%, 50%, 0.4);
                &:hover {
                    background-color: hsla(187, 71%, 50%, 0.3);
                }
                &:active {
                    transform: scale(0.95);
                }
                // border: 1px solid;
                // justify-content: center;
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
                p {
                    font-size: 0.7rem;
                }
            }
            .student-role-btn {
                border-top-right-radius: 8.84px;
                border-top-left-radius: 8.84px;
            }
            .instructor-role-btn {
                margin: 5px 0;
            }
            .admin-role-btn {
                border-bottom-right-radius: 8.84px;
                border-bottom-left-radius: 8.84px;
            }
        }
    }
}
.main-content {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    min-height: calc(100vh - 86px);
    margin: 10px;
    margin-bottom: 0;
    // padding: 10px;
    & > * {
        border-radius: 10px;
        background-color: hsla(0, 0%, 100%, 0.5);
    }
    .index.content {
        flex-grow: 1;
        margin-left: 85px;
        // min-height: calc(100vh - 86px);
        min-height: 150vh;
        transition: margin-left 0.5s ease;
        padding: 20px;
        .ic-dropdown-set {
            position: relative;
            .ic-dropdown {
                position: absolute;
                overflow: hidden;
                background-color: hsl(187, 71%, 90%);
                border: 1px solid gray;
                ul {
                    text-align: left;
                        & > *:not(:last-child){
                            border-bottom: 1px solid gray;
                        }
                    li {
                        height: 30px;
                        font-size: 0.9rem;
                        // border-bottom: 1px solid;
                        a {
                            display: flex;
                            align-items: center;
                            list-style: none;
                            padding: 0 10px;
                            width: 100%;
                            height: 100%;
                        }
                        &:hover {
                            background-color: var(--dropdown-btn-hover-background-color);
                        }
                    }
                }
            }
        }
    }
}
.main-footer {
    min-height: 56px;
    background-color: hsla(0, 0%, 100%, 0.5);
    margin: 10px;
    margin-top: 0;
}

.left.sidebar {
    position: fixed;
    bottom: 10px;
    top: 76px;
    width: 75px;
    // height: 76px;
    padding: 15px;
    transition: width 0.5s ease, transform 0.5s ease;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    // background-color: hsla(235, 66%, 30%, 0.5);
    z-index: 2;
    overflow-y: auto;
    overscroll-behavior: contain;
    &::-webkit-scrollbar {
        width: 10px;
        height: 6px;
        &-track {
            background-color: #7cdce9;
            // border-radius: 5px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            // padding: 3px;
        }
        &-thumb {
            background-color: #1A237E;
            // border-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
        }
    }

    
    &.ls-collapsed {
        &.scrolling {
            width: 85px;
        }
        width: 75px;
        .ls-collapse-icon {
            transform: scaleX(1) rotateZ(-90deg);
        }
    }
    &.ls-expanded {
        &.scrolling {
            width: 210px;
        }
        width: 200px;
        .ls-collapse-icon {
            transform: scaleX(-1) rotateZ(-90deg);
        }
    }
    .sidebar-content {
        flex-direction: column;
        gap: 10px;
        .ls-dropdown-set {
            width: 100%;
            border-radius: 10px;
            background-color: hsla(187, 71%, 50%, 0.3);
            .ls-btn {
                height: 50px;
                background-color: hsla(235, 66%, 50%, 0.3);
            }
            .ls-btn-dropdown {
                width: 100%;
                height: 20px;
                border: none;
                margin-top: 5px;
                border-radius: 7px;
                background-color: transparent;
                &:hover {
                    background-color: hsla(187, 71%, 50%, 0.1);
                }
                img {
                    height: 10px;
                }
            }
            .ls-dropdown {
                display: none;
                // flex-direction: column;
                // gap: 3px;
                padding: 0 5px;
                padding-bottom: 10px;
                overflow: hidden;
                & > *:not(:last-child){
                    margin-bottom: 3px;
                }
                .ls-dropdown-btn {
                    border: none;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    padding: 2px 7.5px;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 5px;
                    background-color: hsl(235, 66%, 90%);
                    transition: background-color 0.5s ease;
                    border: 1px solid hsla(0, 0%, 50%, 0.5);
                    &:hover {
                        background-color: hsla(187, 71%, 50%, 0.3);
                    }
                    .ls-dropdown-icon {
                        width: 20px;
                        height: 20px;
                    }
                    .ls-dropdown-text {
                        font-size: 0.7rem;
                        color: #1A237E;
                    }
                }
            }
        }
        .ls-btn {
            width: 100%;
            height: 50px;
            border-radius: 10px;
            border: none;
            display: flex;
            align-items: center;
            gap: 15px;
            padding-left: 10px;
            position: relative;
            background-color: hsla(187, 71%, 50%, 0.3);
            // box-shadow: 0px 0px 3px 1px hsla(187, 71%, 50%, 0.4);
            border: 1px solid #1A237E;
            transition: transform 0.2s ease, background-color 0.4s ease;
            .ls-btn-icon {
                width: 25px;
                height: 25px;
            }
            &-text {
                white-space: nowrap;
                overflow: hidden;
                color: #1A237E;
                font-weight: bold;
                font-size: 0.7rem;
            }
            &::after {
                content: var(--after-content, '');
                display: var(--after-display, none);
                position: absolute;
                top: 39px;
                left: -10px;
                max-width: 75px;
                background-color: hsla(235, 66%, 30%, 0.3);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                pointer-events: none;
                border-radius: 5px;
                padding: 0 5px;
                color: hsl(187, 79%, 5%);
                font-size: 0.6rem;
                // word-break: break-all;
                // white-space: nowrap;
            }
            &:hover {
                background-color: hsla(187, 71%, 50%, 0.6);
            }
            &:active {
                transform: scale(0.95);
            }
        }
        // .ls-my-courses {
        //     background-color: transparent;
        // }
        .ls-announcements {
            word-break: break-all;
        }
    }

    #ls-collapse-btn {
        width: 30px;
        height: 30px;
        position: sticky;
        top: 0;
        right: 0;
        z-index: 3;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        background-color: hsl(187, 71%, 50%);
        transition: transform 0.2s ease, background-color 0.4s ease;
        &:hover {
            background-color: hsla(187, 71%, 50%, 0.7);
        }
        &:active {
            transform: scale(0.95);
        }
        .ls-collapse-icon {
            width: 50%;
            height: 50%;
            // transform: rotateZ(-90deg);
            transition: transform 0.5s ease;
        }
    }
    // .sidebar-content {

    // }
}

.right.sidebar {
    position: fixed;
    background-color: hsla(235, 66%, 30%, 0.9);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column-reverse;
    overscroll-behavior: contain;
    z-index: 1;
    // border-radius: 10px;
    .input-box {
        background-color: hsl(235, 66%, 60%);
        border-radius: 30px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 10px;
        flex-shrink: 0;
        width: 240px;
        #prompt-p {
            &.empty::before {
                content: "Ask anything...";
            }
        }
        .prompt-text-area {
            background-color: transparent;
            height: auto;
            min-height: 40px;
            max-height: 100px;
            overflow-y: auto;
            border: none;
            color: #1A237E;
            display: flex;
            align-items: center;
            padding: 10px 0;
            #prompt-p {
                color: hsl(187, 71%, 80%);
                width: 100%;
                height: 100%;
                overflow: auto;                
                position: relative;
                &::-webkit-scrollbar {
                    width: 10px;
                    &-track {
                        background-color: #7cdce9;
                        border-radius: 10px;
                    }
                    &-thumb {
                        background-color: #1A237E;
                        border-radius: 5px;
                        cursor: grab;
                        &:active {
                            cursor: grabbing;
                        }

                    }
                }
                &.empty::before {
                    color: hsl(187, 71%, 70%);
                    // cursor: text;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .features {
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .right-section {
                button {
                    height: 27px;
                    width: 27px;
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:active {
                        transform: var(--btn-active-transform-scale);
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .left-section {
                display: flex;
                gap: 3px;
                & > * {
                    background-color: transparent;
                    border: 1px solid #7cdce9;
                    color: #7cdce9;
                    padding: 3px 5px;
                    border-radius: 50px;
                    font-size: 0.6rem;
                    transition: background-color 0.5s ease;
                    &:hover {
                        background-color: var(--btn-hover-background-color);
                    }
                    &:active {
                        transform: var(--btn-active-transform-scale);
                    }
                }
            }
        }
    }
    &.expanded {
        width: 280px;
        height: calc(100vh - 106px);
        bottom: 20px;
        right: 20px;
        padding: 20px;
        overflow: hidden;
        // #prompt-p {
        //     &.empty::before {
        //         content: "Ask anything...";
        //     }
        // }
        #rs-collapse-btn {
            right: 0px;
            top: 0px;
        }
    }
    &.collapsed {
        width: 50px;
        height: 50px;
        bottom: 86px;
        right: 20px;
        overflow: hidden;
        #rs-collapse-btn {
            right: 0px;
            top: 0px;
        }
    }
    #rs-collapse-btn {
            width: 50px;
            height: 50px;
            position: absolute;
            border: none;
            border-radius: 10px;
            overflow: hidden;
            z-index: 999;
            #rs-collapse-icon {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
}

.student-sidebar-content {
    display: flex;
    // display: none;
}
.instructor-sidebar-content {
    display: none;
}
.admin-sidebar-content {
    display: none;
}
 
.chatbot {
    width: 10%;
}

.my-courses-page {
    width: 100%;
    height: 100%;
    .subtitle {
        padding: 30px 0;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
        margin-bottom: 30px;
        color: #1A237E;
    }
    .filter-and-search {
        // border: 2px solid;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        margin-bottom: 30px;
        & > * {
            height: 30px;
            background-color: transparent;
            &:not(input) button{
                height: 100%;
                border-radius: 5px;
                border: 1px solid hsla(0, 0%, 0%, 0.5);
                padding: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: transparent;
            }
        }
        input {
            padding: 0 10px;
            border-radius: 5px;
            border: 1px solid hsla(0, 0%, 0%, 0.5);
        }
        .mcp.ic-dropdown-set {
            .ic-dropdown {
                display: none;
                left: 0;
                top: 35px;
                min-width: 150px;
                border-radius: 5px;
            }
        }
        .dropdown-arrow {
            height: 10px;
            height: 10px;
        }
    }
    .courses-grid {
        width: 100%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        // grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
        & > * {
            height: 200px;
            background-color: hsla(187, 71%, 50%, 0.1);
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid gray;
            max-width: 400px;
            img {
                display: block;
                height: 50%;
                width: 100%;
                object-fit: cover;
            }
            .details {
                height: 50%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                & > * {
                    font-size: 0.9rem;
                }
                .title {
                    color: hsl(187, 71%, 30%);
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .d-bottom-section {
                    display: flex;
                    gap: 10px;
                    margin-top: auto;
                    .progress {
                        flex-grow: 1;
                        .bar {
                            margin-top: 3px;
                            height: 5px;
                            border: 1px solid;
                            .fill {
                                height: 100%;
                                width: calc((7/12) * 100%);
                                background-color: black;
                            }
                        }
                    }
                    .course-card-options {
                        background-color: transparent;
                        border: none;
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            background-color: hsla(0, 0%, 50%, 0.3);
                        }
                        img {
                            height: 15px;
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px){
    .main-header {
        .left-section {
            .ls-hamburger-btn {
                transform: translateX(0);
            }
        }
    }

    .main-header {
        height: 40px;
        padding: 0 20px;
        padding-right: 10px;
        .left-section {
            .ls-hamburger-btn {
                // transform: translateX(0);
                width: 30px;
                height: 30px;
                display: flex;
                img {
                    height: 20px;
                    height: 20px;
                }
            }
        }
        .middle-section {
            display: none;
            .page-title {
                // font-size: 0.5rem;
            }
        }
        .right-section {
            gap: 1px;
            .rh-btn {
                width: 30px;
                height: 30px;
            }
        }
    }
    .main-content {
        .left.sidebar {
            transform: translateX(-95px);
            width: 70px;
            margin-left: 10px;
            // padding: 10px 5px;
            // top: 96px;
            &.ls-collapsed {
                &.scrolling {
                    width: 80px;
                }
                width: 70px;
                .ls-collapse-icon {
                    transform: scaleX(1) rotateZ(-90deg);
                }
            }
            &.ls-expanded {
                &.scrolling {
                    width: 160px;
                }
                width: 150px;
                .ls-collapse-icon {
                    transform: scaleX(-1) rotateZ(-90deg);
                }
            }
            &.ls-hidden {
                transform: translateX(-95px);
            }
            &.ls-shown {
                transform: translateX(0px);
            }

            .sidebar-content {
                .ls-btn {
                    height: 35px;
                    &-icon {
                        width: 20px;
                        height: 20px;
                    }
                    &-text {
                        font-size: 0.5rem;
                    }
                }
            }
        }
        .index.content {
            margin-left: 0;
        }
    }
}