@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --sidebar-width: 70px;
  --learnova-gradient-left: #1A237E;
  --learnova-gradient-right: #26C6DA;
  --btn-hover-background-color: hsla(187, 71%, 50%, 0.3);
  --btn-active-transform-scale: scale(0.95);
  --main-content-dropdown-background-color: hsl(187, 71%, 90%);
  --dropdown-btn-hover-background-color: hsl(235, 66%, 70%);
  --btn-box-shadow: 0 0 0 black, inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.shadow-box-1 {
  box-shadow: 1px 1px 5px 1px hsla(187, 71%, 50%, 0.4);
}

.shadow-box-2 {
  box-shadow: 0 2px 10px hsla(0, 0%, 50%, 0.5);
}

body {
  min-height: 100vh;
  background-image: url("/assets/images/body_background.png");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #7cdce9;
}
body::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-radius: 5px;
  cursor: grab;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main > * {
  border-radius: 10px;
}

.main-header {
  height: 56px;
  position: sticky;
  top: 10px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 4;
  backdrop-filter: blur(10px);
  background-color: hsla(235, 66%, 70%, 0.5);
}
.main-header .left-section {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70%;
  overflow: hidden;
}
.main-header .left-section .ls-hamburger-btn {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  display: none;
  transform: translateX(-90px);
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.4s ease;
}
.main-header .left-section .ls-hamburger-btn:active {
  transform: scale(0.95);
}
.main-header .left-section .ls-hamburger-btn img {
  width: 24px;
  height: 24px;
}
.main-header .left-section .logo-icon {
  height: 80%;
}
.main-header .left-section .logo-text {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header .left-section .logo-text img {
  height: 50%;
}
.main-header .middle-section .page-title {
  color: #1A237E;
  font-size: 1.5rem;
}
.main-header .right-section {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-header .right-section .rh-btn {
  height: 40px;
  width: 40px;
  border-radius: 30%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.4s ease;
}
.main-header .right-section .rh-btn:hover {
  background-color: hsla(187, 71%, 50%, 0.3);
}
.main-header .right-section .rh-btn:active {
  transform: scale(0.95);
}
.main-header .right-section .rh-btn .h-btn-icon {
  width: 22px;
  height: 22px;
}
.main-header .right-section #role-btn {
  width: auto;
  padding: 0 10px;
  gap: 5px;
  position: relative;
}
.main-header .right-section #role-btn .role-dropdown-arrow {
  width: 10px;
  height: 10px;
}
.main-header .right-section .role-dropdown {
  position: absolute;
  top: 60px;
  right: 40px;
  width: 100px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 1px 1px 5px 1px hsla(187, 71%, 50%, 0.4);
}
.main-header .right-section .role-dropdown.rd-shown {
  visibility: visible;
}
.main-header .right-section .role-dropdown.rd-hidden {
  visibility: hidden;
}
.main-header .right-section .role-dropdown > * {
  height: 30px;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #1A237E;
  background-color: hsla(187, 71%, 50%, 0.1);
  transition: background-color 0.5s ease, transform 0.2s ease;
  box-shadow: 0px 1px 0px 0px hsla(0, 0%, 0%, 0.1);
}
.main-header .right-section .role-dropdown > *:hover {
  background-color: hsla(187, 71%, 50%, 0.3);
}
.main-header .right-section .role-dropdown > *:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 0px 0px hsla(0, 0%, 0%, 0.1);
}
.main-header .right-section .role-dropdown > * img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.main-header .right-section .role-dropdown > * p {
  font-size: 0.7rem;
}
.main-header .right-section .role-dropdown .student-role-btn {
  border-top-right-radius: 8.84px;
  border-top-left-radius: 8.84px;
}
.main-header .right-section .role-dropdown .instructor-role-btn {
  margin: 5px 0;
}
.main-header .right-section .role-dropdown .admin-role-btn {
  border-bottom-right-radius: 8.84px;
  border-bottom-left-radius: 8.84px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  min-height: calc(100vh - 86px);
  margin: 10px;
  margin-bottom: 0;
}
.main-content > * {
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.5);
  z-index: 1;
}
.main-content .index.content {
  flex-grow: 1;
  margin-left: 85px;
  min-height: 150vh;
  transition: margin-left 0.5s ease;
  padding: 20px;
  overflow: hidden;
}
.main-content .index.content .ic-dropdown-set {
  position: relative;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown {
  position: absolute;
  overflow: hidden;
  background-color: hsl(187, 71%, 90%);
  border: 1px solid gray;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul {
  text-align: left;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul > *:not(:last-child) {
  border-bottom: 1px solid gray;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul li {
  height: 30px;
  font-size: 0.9rem;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul li a {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.main-content .index.content .ic-dropdown-set .ic-dropdown ul li:hover {
  background-color: var(--dropdown-btn-hover-background-color);
}

.main-footer {
  min-height: 56px;
  background-color: hsla(0, 0%, 100%, 0.5);
  margin: 10px;
  margin-top: 0;
}

.left.sidebar {
  position: fixed;
  bottom: 10px;
  top: 76px;
  width: 75px;
  padding: 15px;
  transition: width 0.5s ease, transform 0.5s ease;
  backdrop-filter: blur(10px);
  z-index: 2;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.left.sidebar::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
.left.sidebar::-webkit-scrollbar-track {
  background-color: #7cdce9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.left.sidebar::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: grab;
}
.left.sidebar.ls-collapsed.scrolling {
  width: 85px;
}
.left.sidebar.ls-collapsed {
  width: 75px;
}
.left.sidebar.ls-collapsed .ls-collapse-icon {
  transform: scaleX(1) rotateZ(-90deg);
}
.left.sidebar.ls-expanded.scrolling {
  width: 210px;
}
.left.sidebar.ls-expanded {
  width: 200px;
}
.left.sidebar.ls-expanded .ls-collapse-icon {
  transform: scaleX(-1) rotateZ(-90deg);
}
.left.sidebar .sidebar-content {
  flex-direction: column;
  gap: 5px;
}
.left.sidebar .sidebar-content .ls-dropdown-set {
  width: 100%;
  border-radius: 10px;
  background-color: hsla(187, 71%, 50%, 0.3);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-btn {
  height: 50px;
  background-color: hsla(235, 66%, 50%, 0.3);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-btn-dropdown {
  width: 100%;
  height: 20px;
  border: none;
  margin-top: 5px;
  border-radius: 7px;
  background-color: transparent;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-btn-dropdown:hover {
  background-color: hsla(187, 71%, 50%, 0.1);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-btn-dropdown img {
  height: 10px;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown {
  display: none;
  padding: 0 5px;
  padding-bottom: 10px;
  overflow: hidden;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown > *:not(:last-child) {
  margin-bottom: 3px;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown .ls-dropdown-btn {
  border: none;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 2px 7.5px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  background-color: hsl(235, 66%, 90%);
  transition: background-color 0.5s ease;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown .ls-dropdown-btn:hover {
  background-color: hsla(187, 71%, 50%, 0.3);
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown .ls-dropdown-btn .ls-dropdown-icon {
  width: 20px;
  height: 20px;
}
.left.sidebar .sidebar-content .ls-dropdown-set .ls-dropdown .ls-dropdown-btn .ls-dropdown-text {
  font-size: 0.7rem;
  color: #1A237E;
}
.left.sidebar .sidebar-content .ls-btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background-color: hsla(187, 50%, 70%, 0.5);
  box-shadow: 0px 1px 1px 1px hsla(0, 0%, 0%, 0.1);
  transition: transform 0.1s ease, background-color 0.4s ease, box-shadow 0.1s ease;
}
.left.sidebar .sidebar-content .ls-btn .ls-btn-icon {
  width: 25px;
  height: 25px;
}
.left.sidebar .sidebar-content .ls-btn-text {
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  color: #1A237E;
  font-weight: bold;
  font-size: 0.7rem;
}
.left.sidebar .sidebar-content .ls-btn::after {
  content: var(--after-content, "");
  display: var(--after-display, none);
  position: absolute;
  top: 39px;
  left: -10px;
  max-width: 75px;
  background-color: hsla(235, 66%, 30%, 0.3);
  backdrop-filter: blur(10px);
  pointer-events: none;
  border-radius: 5px;
  padding: 0 5px;
  color: hsl(187, 79%, 5%);
  font-size: 0.6rem;
  z-index: 999;
}
.left.sidebar .sidebar-content .ls-btn:hover {
  background-color: hsla(187, 50%, 70%, 0.5);
}
.left.sidebar .sidebar-content .ls-btn:active {
  transform: translate(0px, 1px);
  box-shadow: 0px 0px 0px 0px hsla(0, 0%, 0%, 0.1);
}
.left.sidebar .sidebar-content .ls-announcements {
  word-break: break-all;
}
.left.sidebar #ls-collapse-btn {
  width: 30px;
  height: 30px;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 3;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: hsl(187, 71%, 50%);
  transition: transform 0.2s ease, background-color 0.4s ease;
}
.left.sidebar #ls-collapse-btn:hover {
  background-color: hsla(187, 71%, 50%, 0.7);
}
.left.sidebar #ls-collapse-btn:active {
  transform: scale(0.95);
}
.left.sidebar #ls-collapse-btn .ls-collapse-icon {
  width: 50%;
  height: 50%;
  transition: transform 0.5s ease;
}

.right.sidebar {
  position: fixed;
  background-color: hsla(235, 66%, 30%, 0.9);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column-reverse;
  overscroll-behavior: contain;
  z-index: 1;
  box-shadow: 0px 0px 20px 3px hsla(240, 100%, 75%, 0.5);
}
.right.sidebar .input-box {
  background-color: hsl(235, 66%, 60%);
  border-radius: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
  flex-shrink: 0;
  width: 240px;
}
.right.sidebar .input-box #prompt-p.empty::before {
  content: "Ask anything...";
}
.right.sidebar .input-box .prompt-text-area {
  background-color: transparent;
  height: auto;
  min-height: 40px;
  max-height: 100px;
  overflow-y: auto;
  border: none;
  color: #1A237E;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.right.sidebar .input-box .prompt-text-area #prompt-p {
  color: hsl(187, 71%, 80%);
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.right.sidebar .input-box .prompt-text-area #prompt-p::-webkit-scrollbar {
  width: 10px;
}
.right.sidebar .input-box .prompt-text-area #prompt-p::-webkit-scrollbar-track {
  background-color: #7cdce9;
  border-radius: 10px;
}
.right.sidebar .input-box .prompt-text-area #prompt-p::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-radius: 5px;
  cursor: grab;
}
.right.sidebar .input-box .prompt-text-area #prompt-p.empty::before {
  color: hsl(187, 71%, 70%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.right.sidebar .input-box .prompt-text-area #prompt-p:focus {
  outline: none;
}
.right.sidebar .input-box .features {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right.sidebar .input-box .features .right-section button {
  height: 27px;
  width: 27px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right.sidebar .input-box .features .right-section button:active {
  transform: var(--btn-active-transform-scale);
}
.right.sidebar .input-box .features .right-section button img {
  width: 100%;
  height: 100%;
}
.right.sidebar .input-box .features .left-section {
  display: flex;
  gap: 3px;
}
.right.sidebar .input-box .features .left-section > * {
  background-color: transparent;
  border: 1px solid #7cdce9;
  color: #7cdce9;
  padding: 3px 5px;
  border-radius: 50px;
  font-size: 0.6rem;
  transition: background-color 0.5s ease;
}
.right.sidebar .input-box .features .left-section > *:hover {
  background-color: var(--btn-hover-background-color);
}
.right.sidebar .input-box .features .left-section > *:active {
  transform: var(--btn-active-transform-scale);
}
.right.sidebar.expanded {
  width: 280px;
  height: calc(100vh - 106px);
  bottom: 20px;
  right: 20px;
  padding: 20px;
  overflow: hidden;
}
.right.sidebar.expanded #rs-collapse-btn {
  right: 0px;
  top: 0px;
}
.right.sidebar.collapsed {
  width: 50px;
  height: 50px;
  bottom: 86px;
  right: 20px;
  overflow: hidden;
}
.right.sidebar.collapsed #rs-collapse-btn {
  right: 0px;
  top: 0px;
}
.right.sidebar #rs-collapse-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  z-index: 999;
}
.right.sidebar #rs-collapse-btn #rs-collapse-icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.student-sidebar-content {
  display: flex;
}

.instructor-sidebar-content {
  display: none;
}

.admin-sidebar-content {
  display: none;
}

.chatbot {
  width: 10%;
}

.course-grid-item {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.5);
}
.course-grid-item img {
  display: block;
  border-radius: 5px;
  height: 55%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.course-grid-item .details {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: hsla(0, 0%, 100%, 0.3);
}
.course-grid-item .details > * {
  font-size: 0.9rem;
}
.course-grid-item .details .title {
  color: hsl(187, 71%, 50%);
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}
.course-grid-item .details .title:hover {
  text-decoration: underline;
}
.course-grid-item .details .d-bottom-section {
  display: flex;
  gap: 10px;
  margin-top: auto;
}
.course-grid-item .details .d-bottom-section .progress {
  flex-grow: 1;
}
.course-grid-item .details .d-bottom-section .progress .bar {
  height: 7px;
  border-radius: 50px;
  background-color: hsl(187, 71%, 80%);
  margin-top: 3px;
}
.course-grid-item .details .d-bottom-section .progress .bar .fill {
  height: 100%;
  width: 58.3333333333%;
  background-color: hsl(235, 66%, 20%);
  border-radius: 50px;
}
.course-grid-item .details .d-bottom-section .course-card-options {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-grid-item .details .d-bottom-section .course-card-options:hover {
  background-color: hsla(0, 0%, 50%, 0.3);
}
.course-grid-item .details .d-bottom-section .course-card-options img {
  height: 15px;
  width: 15px;
}

.my-courses-page {
  display: none;
  width: 100%;
  height: 100%;
}
.my-courses-page .subtitle {
  padding-bottom: 20px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
  margin-bottom: 30px;
  color: #1A237E;
}
.my-courses-page .filter-and-search {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.my-courses-page .filter-and-search > * {
  height: 30px;
  background-color: transparent;
}
.my-courses-page .filter-and-search > *:not(input) button {
  height: 100%;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}
.my-courses-page .filter-and-search input {
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.2);
}
.my-courses-page .filter-and-search .mcp.ic-dropdown-set .ic-dropdown-btn {
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.2);
}
.my-courses-page .filter-and-search .mcp.ic-dropdown-set .ic-dropdown {
  display: none;
  left: 0;
  top: 35px;
  min-width: 150px;
  border-radius: 5px;
  z-index: 1;
}
.my-courses-page .filter-and-search .dropdown-arrow {
  height: 10px;
  height: 10px;
}
.my-courses-page .courses-grid {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.my-courses-page .courses-grid > * {
  width: auto;
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.5), 0 3px 15px hsla(240, 100%, 25%, 0.25);
}

.home-page {
  display: none;
  width: 100%;
  height: 100%;
}
.home-page .view-all-btn,
.home-page .search-btn {
  background-color: white;
  transition: background-color 0.2s ease;
}
.home-page .view-all-btn:hover,
.home-page .search-btn:hover {
  background-color: hsl(0, 0%, 90%);
}
.home-page .view-all-btn:active,
.home-page .search-btn:active {
  background-color: hsl(0, 0%, 80%);
}
.home-page-header {
  margin-bottom: 30px;
}
.home-page-header h1 {
  position: relative;
  margin-bottom: 5px;
  color: hsl(187, 72%, 93%);
}
.home-page-header h1::before {
  content: "";
  background-image: url("/assets/images/Gemini_Generated_Image_9xo4i89xo4i89xo4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: 250px;
  z-index: -1;
}
.home-page-header p {
  color: hsl(187, 72%, 93%);
  font-size: 1.2rem;
}
.home-page > * {
  margin-bottom: 20px;
}
.home-page .subheader-widgets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 700px) {
  .home-page .subheader-widgets {
    flex-direction: column;
  }
}
.home-page .subheader-widgets > * {
  flex: 1;
  height: 250px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px hsla(0, 0%, 50%, 0.5);
}
@media (max-width: 700px) {
  .home-page .subheader-widgets > * {
    flex: none;
  }
}
.home-page .subheader-widgets .continue-learning {
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  background: radial-gradient(at bottom right, #26C6DA, #1A237E);
}
@media (max-width: 900px) and (min-width: 700px) {
  .home-page .subheader-widgets .continue-learning {
    width: 100%;
    flex: none;
  }
}
.home-page .subheader-widgets .continue-learning .cl-header {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.home-page .subheader-widgets .continue-learning .title {
  font-weight: bold;
  opacity: 0.9;
}
.home-page .subheader-widgets .continue-learning .details {
  display: flex;
  margin-top: 15px;
  flex-grow: 1;
  align-items: center;
}
.home-page .subheader-widgets .continue-learning .details .progress {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-right: 10px;
}
.home-page .subheader-widgets .continue-learning .details .progress .p-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.home-page .subheader-widgets .continue-learning .details .progress .progress-bar {
  height: 7px;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.5);
}
.home-page .subheader-widgets .continue-learning .details .progress .progress-bar .bar {
  border-radius: 50px;
  height: 100%;
  width: 70%;
  background-color: white;
}
.home-page .subheader-widgets .continue-learning .details .progress .resume-btn {
  margin-top: auto;
  width: auto;
  display: inline-block;
  align-self: flex-start;
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  background-color: white;
  font-size: 1.1rem;
}
.home-page .subheader-widgets .continue-learning .details img {
  height: 120px;
  border-radius: 10px;
}
.home-page .subheader-widgets .d-calendar {
  padding: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  background: radial-gradient(at top left, hsl(187, 71%, 50%), hsl(235, 66%, 80%));
}
.home-page .subheader-widgets .d-calendar .dc-header {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.home-page .subheader-widgets .d-calendar .dc-subheader {
  margin-bottom: 10px;
}
.home-page .subheader-widgets .d-calendar .dc-events {
  flex-grow: 1;
  border-radius: 10px;
  overflow-y: auto;
  background-color: hsla(0, 0%, 100%, 0.5);
  padding: 10px;
}
.home-page .subheader-widgets .d-calendar .dc-events > *:not(:last-child) {
  margin-bottom: 5px;
}
.home-page .subheader-widgets .d-calendar .dc-events::-webkit-scrollbar {
  width: 10px;
}
.home-page .subheader-widgets .d-calendar .dc-events::-webkit-scrollbar-track {
  background-color: #7cdce9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.home-page .subheader-widgets .d-calendar .dc-events::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: grab;
}
.home-page .subheader-widgets .d-calendar .dc-events .event {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 5px;
  padding: 5px;
}
.home-page .subheader-widgets .d-calendar .dc-events .event img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.home-page .subheader-widgets .d-calendar .dc-events .event .content {
  padding-right: 12px;
}
.home-page .subheader-widgets .d-calendar .dc-events .event .content .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
.home-page .subheader-widgets .recent-activity {
  padding: 15px;
  background: radial-gradient(at top left, hsl(187, 71%, 50%), hsl(235, 66%, 80%));
  display: flex;
  flex-direction: column;
}
.home-page .subheader-widgets .recent-activity .ra-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.home-page .subheader-widgets .recent-activity .ra-header span {
  font-weight: bold;
  font-size: 1.4rem;
}
.home-page .subheader-widgets .recent-activity .ra-header button {
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  color: #1A237E;
  box-shadow: 0 0 0 black, inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  white-space: nowrap;
  height: 28px;
}
.home-page .subheader-widgets .recent-activity .activities {
  flex-grow: 1;
  border-radius: 10px;
  overflow-y: auto;
  background-color: hsla(0, 0%, 100%, 0.5);
  padding: 10px;
}
.home-page .subheader-widgets .recent-activity .activities > *:not(:last-child) {
  margin-bottom: 5px;
}
.home-page .subheader-widgets .recent-activity .activities::-webkit-scrollbar {
  width: 10px;
}
.home-page .subheader-widgets .recent-activity .activities::-webkit-scrollbar-track {
  background-color: #7cdce9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.home-page .subheader-widgets .recent-activity .activities::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: grab;
}
.home-page .subheader-widgets .recent-activity .activities .activity {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 5px;
  padding: 5px;
}
.home-page .subheader-widgets .recent-activity .activities .activity img {
  align-self: flex-start;
  width: 30px;
  height: 30px;
}
.home-page .subheader-widgets .recent-activity .activities .activity .content {
  flex-grow: 1;
}
.home-page .subheader-widgets .recent-activity .activities .activity .content .subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 30px;
}
.home-page .subheader-widgets .recent-activity .activities .activity .content .name {
  font-weight: bold;
}
.home-page .subheader-widgets .recent-activity .activities .activity .content .item {
  font-size: 1rem;
  margin-right: 30px;
  color: hsl(0, 0%, 30%);
}
.home-page .subheader-widgets .recent-activity .activities .activity .content .area {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 45%);
}
.home-page .subheader-widgets .recent-activity .activities .activity .a-3dot-btn {
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.home-page .subheader-widgets .recent-activity .activities .activity .a-3dot-btn img {
  width: 15px;
  height: 15px;
}
.home-page .subheader-widgets .recent-activity .activities .activity .a-3dot-btn:hover {
  background-color: hsl(0, 0%, 80%);
}
.home-page .subheader-widgets .recent-activity .activities .activity .a-3dot-btn:active {
  background-color: hsl(0, 0%, 90%);
}
.home-page .my-courses {
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 2px 10px hsla(0, 0%, 50%, 0.5);
}
.home-page .my-courses .mc-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.home-page .my-courses .mc-header span {
  font-weight: bold;
  font-size: 1.4rem;
}
.home-page .my-courses .mc-header button {
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  color: #1A237E;
  box-shadow: 0 0 0 black, inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.home-page .my-courses .mc-grid {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-left: 2px;
}
.home-page .my-courses .mc-grid::-webkit-scrollbar {
  height: 10px;
  background-color: #7cdce9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.home-page .my-courses .mc-grid::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: grab;
}
.home-page .explore-courses {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px hsla(0, 0%, 50%, 0.5);
}
.home-page .explore-courses .ec-header {
  background-image: url("/assets/images/ec-section-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.home-page .explore-courses .ec-header p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 0 20px;
}
@media (max-width: 700px) {
  .home-page .explore-courses .ec-header p {
    font-size: 1.5rem;
  }
}
.home-page .explore-courses .ec-header > div {
  display: flex;
  gap: 20px;
  height: 40px;
  width: 100%;
  max-width: 600px;
  padding: 0 30px;
  margin: 0 10px;
}
.home-page .explore-courses .ec-header > div .ec-search-bar {
  display: flex;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  flex-grow: 1;
}
.home-page .explore-courses .ec-header > div .ec-search-bar input {
  border: none;
  background-color: transparent;
  flex-grow: 1;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  min-width: 0;
}
.home-page .explore-courses .ec-header > div .ec-search-bar input:focus {
  outline: none;
}
.home-page .explore-courses .ec-header > div .ec-search-bar button {
  border: none;
  padding: 5px;
}
.home-page .explore-courses .ec-header > div .ec-search-bar button img {
  height: 100%;
}
.home-page .explore-courses .ec-header > div .ec-page-btn {
  border: none;
  color: #1A237E;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.5);
  white-space: nowrap;
}
@media (max-width: 700px) {
  .home-page .explore-courses .ec-header > div .ec-page-btn {
    font-size: 1rem;
  }
}
.home-page .explore-courses .featured-courses-section {
  margin-top: 10px;
  padding: 10px;
}
.home-page .explore-courses .featured-courses-section .fcs-header {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.home-page .explore-courses .featured-courses-section .fcs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .home-page .explore-courses .featured-courses-section .fcs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .home-page .explore-courses .featured-courses-section .fcs-grid {
    grid-template-columns: 1fr;
  }
}
.home-page .explore-courses .featured-courses-section .fcs-grid .course-grid-item {
  width: auto;
  max-width: 400px;
  max-width: none;
}

.explore-courses-page {
  display: none;
  position: relative;
}
.explore-courses-page > *:not(:first-child) {
  margin-top: 20px;
}
.explore-courses-page .ecp-header {
  height: 250px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
}
.explore-courses-page .ecp-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 20px);
  background-image: url("/assets/images/pexels-lucaspezeta-2034892.jpg");
  background-position: center right;
  background-size: cover;
  z-index: -1;
  color: #26C6DA;
}
.explore-courses-page .ecp-header .ecp-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.explore-courses-page .ecp-header .ecp-subheading {
  font-size: 1.2rem;
}
.explore-courses-page .ecp-header .ecp-search-bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-width: 600px;
}
.explore-courses-page .ecp-header .ecp-search-bar > * {
  box-shadow: none;
}
.explore-courses-page .ecp-header .ecp-search-bar input {
  padding-left: 10px;
  flex-grow: 1;
  height: 40px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(10px);
}
.explore-courses-page .ecp-header .ecp-search-bar input::-moz-placeholder {
  color: white;
}
.explore-courses-page .ecp-header .ecp-search-bar input::placeholder {
  color: white;
}
.explore-courses-page .ecp-header .ecp-search-bar button {
  padding: 5px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.5);
  height: 40px;
  backdrop-filter: blur(10px);
}
.explore-courses-page .ecp-header .ecp-search-bar button img {
  height: 100%;
}
.explore-courses-page .ecp-header .ecp-filters {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set {
  position: relative;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-btn {
  display: flex;
  gap: 5px;
  height: 30px;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border-color: white;
  backdrop-filter: blur(10px);
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-btn:hover {
  background-color: hsla(187, 71%, 50%, 0.3);
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-btn p {
  font-size: 1rem;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-btn .dropdown-arrow {
  font-size: 0.7rem;
  transition: transform 0.5s ease;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown {
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  align-items: flex-start;
  z-index: 9;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown:not(#ecp-category-sd) {
  border: 1px solid #1A237E;
  border-radius: 5px;
  overflow: hidden;
  background-color: hsl(188, 73%, 90%);
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown:not(#ecp-category-sd) > * {
  background-color: transparent;
  border: none;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown:not(#ecp-category-sd) > *:not(:last-child) {
  border-bottom: 1px solid #1A237E;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown:not(#ecp-category-sd) > *:hover {
  background-color: var(--dropdown-btn-hover-background-color);
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section, .explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .right-section {
  min-width: 150px;
  background-color: hsl(188, 73%, 90%);
  overflow: hidden;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .right-section {
  display: none;
  border: 1px solid #1A237E;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateX(-1px);
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .right-section .rs-dropdown > * {
  display: block;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  color: black;
  white-space: nowrap;
  cursor: pointer;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .right-section .rs-dropdown > *:hover {
  background-color: var(--dropdown-btn-hover-background-color);
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section {
  border: 1px solid #1A237E;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section > * {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  color: black;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section > *:not(.dropdown-section-header) {
  cursor: pointer;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section > *:hover:not(.dropdown-section-header) {
  background-color: var(--dropdown-btn-hover-background-color);
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section > * p {
  white-space: nowrap;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section > * img {
  transform: rotateZ(-90deg);
  height: 10px;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section .dropdown-section-header {
  font-weight: bold;
  font-size: 0.9rem;
}
.explore-courses-page .ecp-header .ecp-filters > .dropdown-set > .set-dropdown .left-section .dropdown-section-header:not(:first-child) {
  border-top: 1px solid #1A237E;
}
.explore-courses-page .nav {
  width: calc(100% + 40px);
  transform: translateX(-20px);
}
.explore-courses-page .trending-courses-section, .explore-courses-page .featured-courses-section, .explore-courses-page .topic-section {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 10px hsla(0, 0%, 50%, 0.5);
}
.explore-courses-page .trending-courses-section .section-header, .explore-courses-page .featured-courses-section .section-header, .explore-courses-page .topic-section .section-header {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}
.explore-courses-page .trending-courses-section {
  background-color: white;
}
.explore-courses-page .trending-courses-section .section-grid {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 10px;
  box-shadow: inset 0px 0px 5px black;
  border-radius: 10px;
  padding: 5px;
}
.explore-courses-page .trending-courses-section .section-grid::-webkit-scrollbar {
  height: 10px;
  background-color: #7cdce9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.explore-courses-page .trending-courses-section .section-grid::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: grab;
}
.explore-courses-page .featured-courses-section {
  background: radial-gradient(circle, #1A237E, #26C6DA);
  border-radius: 10px;
}
.explore-courses-page .featured-courses-section .section-header {
  color: white;
}
.explore-courses-page .featured-courses-section .section-content {
  display: flex;
  gap: 10px;
}
@media (max-width: 1000px) {
  .explore-courses-page .featured-courses-section .section-content {
    flex-direction: column;
  }
}
.explore-courses-page .featured-courses-section .section-content .left-slider, .explore-courses-page .featured-courses-section .section-content .right-slider {
  height: 300px;
  flex: 1;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px black;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1200px) {
  .explore-courses-page .featured-courses-section .section-content .left-slider, .explore-courses-page .featured-courses-section .section-content .right-slider {
    height: 250px;
  }
}
.explore-courses-page .featured-courses-section .section-content .left-slider .slideContainer, .explore-courses-page .featured-courses-section .section-content .right-slider .slideContainer {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
}
.explore-courses-page .featured-courses-section .section-content .left-slider .slideContainer::-webkit-scrollbar, .explore-courses-page .featured-courses-section .section-content .right-slider .slideContainer::-webkit-scrollbar {
  display: none;
}
.explore-courses-page .featured-courses-section .section-content .left-slider .slide-1 {
  background-image: linear-gradient(to right, hsl(187, 71%, 30%) 30%, transparent 80%), url("/assets/images/sky-shining-star-3i.jpg");
}
.explore-courses-page .featured-courses-section .section-content .left-slider .slide-2 {
  background-image: linear-gradient(to right, hsl(187, 71%, 30%) 30%, transparent 80%), url("/assets/images/sky-shining-star-3i.jpg");
}
.explore-courses-page .featured-courses-section .section-content .left-slider .slide-3 {
  background-image: linear-gradient(to right, hsl(187, 71%, 30%) 30%, transparent 80%), url("/assets/images/sky-shining-star-3i.jpg");
}
.explore-courses-page .featured-courses-section .section-content .slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover, 70% 100%;
  background-position: right;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}
.explore-courses-page .featured-courses-section .section-content .slide .course-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.explore-courses-page .featured-courses-section .section-content .slide > *:not(.course-title, :last-child) {
  margin-bottom: 5px;
}
.explore-courses-page .featured-courses-section .section-content .slide > * {
  width: 60%;
}
.explore-courses-page .featured-courses-section .section-content .slide .instructor, .explore-courses-page .featured-courses-section .section-content .slide .institution {
  font-weight: bold;
}
.explore-courses-page .featured-courses-section .section-content .slide .instructor span, .explore-courses-page .featured-courses-section .section-content .slide .institution span {
  font-weight: normal;
}
.explore-courses-page .featured-courses-section .section-content .slide .instructor, .explore-courses-page .featured-courses-section .section-content .slide .institution, .explore-courses-page .featured-courses-section .section-content .slide .description {
  font-size: 1.1rem;
}
.explore-courses-page .featured-courses-section .section-content .slide .rating {
  margin-top: auto;
  color: gold;
}
.explore-courses-page .featured-courses-section .section-content .slide-indicator {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.explore-courses-page .featured-courses-section .section-content .slide-indicator > * {
  width: 15px;
  height: 15px;
  box-shadow: 0 0 5px black;
  border-radius: 50px;
}
.explore-courses-page .featured-courses-section .section-content .slide-indicator .active {
  background-color: hsl(235, 66%, 30%);
}
.explore-courses-page .topic-section {
  background-color: white;
}
.explore-courses-page .topic-section .section-header {
  position: relative;
  margin-top: 10px;
}
.explore-courses-page .topic-section .section-header .subheading {
  position: absolute;
  font-size: 1rem;
  font-weight: normal;
  color: gray;
  top: -15px;
  left: 10px;
}
.explore-courses-page .topic-section .section-grid {
  overflow-x: auto;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  box-shadow: inset 0px 0px 5px black;
  border-radius: 10px;
  padding: 5px;
}
.explore-courses-page .topic-section .section-grid::-webkit-scrollbar {
  height: 10px;
  background-color: #7cdce9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.explore-courses-page .topic-section .section-grid::-webkit-scrollbar-thumb {
  background-color: #1A237E;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: grab;
}

.assignment-page {
  display: block;
}
.assignment-page .ap__header .ap__h2 {
  font-size: 3rem;
  color: #1A237E;
}
.assignment-page .ap__header .ap__h3 {
  font-size: 1.2rem;
  color: #26C6DA;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.assignment-page .ap__header-search-bar {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: hsla(0, 0%, 100%, 0.5);
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.2);
  overflow: hidden;
}
.assignment-page .ap__header-search-bar > * {
  height: 100%;
}
.assignment-page .ap__header-search-bar-input-field {
  background-color: transparent;
  border: none;
  border-right: 1px solid gray;
  flex: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.assignment-page .ap__header-search-bar-input-field:focus {
  outline-color: #1A237E;
}
.assignment-page .ap__header-search-bar-search-icon {
  width: 30px;
  display: grid;
  place-items: center;
}
.assignment-page .ap__header-search-bar-search-icon:hover {
  background-color: hsla(0, 0%, 50%, 0.2);
}
.assignment-page .ap__header-search-bar-search-icon:active {
  background-color: hsla(0, 0%, 50%, 0.4);
}
.assignment-page .ap__header-search-bar-search-icon img {
  height: 24px;
  width: 24px;
}
.assignment-page .ap__filters {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.assignment-page .ap__filters > * {
  background-color: transparent;
}
.assignment-page .ap__filters-group {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 5px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
.assignment-page .ap__filters-group:first-child {
  margin-bottom: 5px;
}
.assignment-page .ap__filters-status {
  display: block;
}
.assignment-page .ap__filters .dropdown-set {
  position: relative;
}
.assignment-page .ap__filters .set-btn {
  display: flex;
  padding: 0 10px;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: default;
  box-shadow: inset 0px -1px 3px 0px hsla(0, 0%, 0%, 0.2);
}
.assignment-page .ap__filters .set-btn:hover {
  background-color: hsla(0, 0%, 50%, 0.2);
}
.assignment-page .ap__filters .set-btn:active {
  background-color: hsla(0, 0%, 50%, 0.4);
}
.assignment-page .ap__filters .dropdown-arrow {
  height: 10px;
  width: 10px;
}
.assignment-page .ap__filters .set-dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 1;
  background-color: hsl(187, 71%, 90%);
  border-radius: 5px;
  border: 1px solid gray;
  width: 150px;
}
.assignment-page .ap__filters .dropdown-btn {
  display: block;
  padding: 0 10px;
  height: 30px;
  border: none;
  background-color: transparent;
  text-align: left;
  width: 100%;
  cursor: pointer;
}
.assignment-page .ap__filters .dropdown-btn:not(:last-child) {
  border-bottom: 1px solid gray;
}
.assignment-page .ap__filters .dropdown-btn:hover {
  background-color: var(--dropdown-btn-hover-background-color);
}
.assignment-page .ap__content-section-header {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.assignment-page .ap__content-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.assignment-page .ap__assignment {
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
}
.assignment-page .ap__assignment > * {
  flex-shrink: 0;
}
.assignment-page .ap__assignment-submission-and-details {
  display: flex;
  flex-direction: column;
}
.assignment-page .ap__assignment .heading {
  font-size: 1.1rem;
}
.assignment-page .ap__assignment .topic {
  font-weight: bold;
}
.assignment-page .ap__assignment .date {
  font-weight: bold;
  color: hsl(60, 100%, 30%);
}
.assignment-page .ap__assignment .status {
  font-weight: bold;
  padding: 0 5px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 50%, 0.5);
  position: relative;
}

@media (max-width: 500px) {
  .main-header {
    height: 40px;
    padding: 0 20px;
    padding-right: 10px;
  }
  .main-header .left-section .ls-hamburger-btn {
    transform: translateX(0);
    width: 30px;
    height: 30px;
    display: flex;
  }
  .main-header .left-section .ls-hamburger-btn img {
    height: 20px;
    height: 20px;
  }
  .main-header .middle-section {
    display: none;
  }
  .main-header .right-section {
    gap: 1px;
  }
  .main-header .right-section .rh-btn {
    width: 30px;
    height: 30px;
  }
  .main-content .left.sidebar {
    transform: translateX(-95px);
    width: 70px;
    margin-left: 10px;
  }
  .main-content .left.sidebar.ls-collapsed.scrolling {
    width: 80px;
  }
  .main-content .left.sidebar.ls-collapsed {
    width: 70px;
  }
  .main-content .left.sidebar.ls-collapsed .ls-collapse-icon {
    transform: scaleX(1) rotateZ(-90deg);
  }
  .main-content .left.sidebar.ls-expanded.scrolling {
    width: 160px;
  }
  .main-content .left.sidebar.ls-expanded {
    width: 150px;
  }
  .main-content .left.sidebar.ls-expanded .ls-collapse-icon {
    transform: scaleX(-1) rotateZ(-90deg);
  }
  .main-content .left.sidebar.ls-hidden {
    transform: translateX(-95px);
  }
  .main-content .left.sidebar.ls-shown {
    transform: translateX(0px);
  }
  .main-content .left.sidebar .sidebar-content .ls-btn {
    height: 35px;
  }
  .main-content .left.sidebar .sidebar-content .ls-btn-icon {
    width: 20px;
    height: 20px;
  }
  .main-content .left.sidebar .sidebar-content .ls-btn-text {
    font-size: 0.5rem;
  }
  .main-content .index.content {
    margin-left: 0;
  }
  .explore-courses-page .trending-courses-section .section-header, .explore-courses-page .featured-courses-section .section-header, .explore-courses-page .topic-section .section-header {
    font-size: 1.3rem;
  }
  .explore-courses-page .featured-courses-section .section-content .slide {
    padding: 10px;
  }
  .explore-courses-page .featured-courses-section .section-content .slide .course-title {
    font-size: 1.1rem;
  }
  .explore-courses-page .featured-courses-section .section-content .slide .instructor, .explore-courses-page .featured-courses-section .section-content .slide .institution, .explore-courses-page .featured-courses-section .section-content .slide .description {
    font-size: 0.6rem;
  }
  .explore-courses-page .featured-courses-section .section-content .slide .rating {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=index.css.map */