<div class="explore-courses">

    <!-- header -->
    <div class="explore-courses__section explore-courses__section--header">
        <div class="heading">
            <div class="header__title">Explore Courses</div>
            <div class="header__description">Find the perfect course for you</div>
        </div>
        <div class="header__search-bar">
            <input type="text" class="header__search-input" placeholder="Search Courses">
            <div class="header__search-button">
                <img src="assets\icons\SVGs\icons8-search.svg" alt="">
            </div>
        </div>
        <div class="header__filters">
            <button class="filter-toggle">Filters</button>
            <div class="dropdown-set">
                <button class="filter filter__category dropdown-set__button">
                    <p class="filter__label dropdown-label">Category</p>
                    <div class="dropdown-set__arrow">▽</div>
                </button>

                <div class="dropdown-set__dropdown">
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                </div>
            </div>

            <div class="dropdown-set">
                <button class="filter filter__sort dropdown-set__button">
                    <p class="filter__label dropdown-label">Sort by</p>
                    <div class="dropdown-set__arrow">▽</div>
                </button>

                <div class="dropdown-set__dropdown">
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                </div>
            </div>
                
            <div class="dropdown-set">
                <button class="filter filter__instructor dropdown-set__button">
                    <p class="filter__label dropdown-label">Instructor</p>
                    <div class="dropdown-set__arrow">▽</div>
                </button>

                <div class="dropdown-set__dropdown">
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                    <button class="dropdown-button">button</button>
                </div>
            </div>
        </div>
    </div>

    <div class="explore-courses__main">
        <div class="main__left-section more-filters more-filters--hidden"></div>

        <div class="main__right-section">
            <div class="explore-courses__section explore-courses__section--recommended">
                <div class="section__header">Recommended for you
                    <button class="grid slider-grid-toggle-button" data-tooltip="Switch to grid view">
                        <div class="container">
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                        </div>
                    </button>
                </div>
                <div class="section__slider">
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="explore-courses__section explore-courses__section--new">
                <div class="section__header">New courses
                    <button class="grid slider-grid-toggle-button" data-tooltip="Switch to grid view">
                        <div class="container">
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                        </div>
                    </button>
                </div>
                <div class="section__slider">
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="explore-courses__section explore-courses__section--popular">
                <div class="section__header">Popular courses
                    <button class="grid slider-grid-toggle-button" data-tooltip="Switch to grid view">
                        <div class="container">
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                        </div>
                    </button>
                </div>
                <div class="section__slider">
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>
                    <div class="section-slide course-card">

                        <div class="course-card__image-wrapper">
                            <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                        </div>

                        <div class="course-card__content">
                            <p class="course-card__title">
                                Title
                            </p>

                            <p class="course-card__instructor">
                                Instructor
                            </p>

                            <div class="course-card__description">
                                Description
                            </div>

                            <div class="course-card__level">
                                Beginner
                            </div>

                            <div class="course-card__cost">
                                Free
                            </div>

                            <div class="course-card__footer">
                                <div class="course-card__rating">Rating</div>
                                <button class="course-card__view-button">View Course</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- <div class="explore-courses__section explore-courses__section--featured-courses">

            </div>

            <div class="explore-courses__section explore-courses__section--trending-courses">
                
            </div> -->
        </div>
    </div>
</div>