<div class="home">

    <!-- header -->
    <div class="home__section--header home__section">
        <!-- Header background -->
        <div class="home__section--header-bg">
            <div class="home__section--header-bg--left"></div>
            <div class="home__section--header-bg--right">
                <img src="\assets\images\ChatGPT Image Apr 15, 2026, 02_01_08 PM.png" alt="">
            </div>
        </div>

        <!--titles -->
        <div class="home__section--header-top-section">
            <h1 class="home-heading">Ready to start your learning journey?</h1>
        </div>

        <!-- Quick stats -->
        <div class="home__section--header-bottom-section home__section--header-quick-stats">
            <!-- Find courses -->
            <button class="quick-stat quick-stat--find-courses" data-route="sign-up">Sign up</button>

            <!-- About us -->
            <button class="quick-stat quick-stat--about-us" data-route="about-us">About Learnova</button>
        </div>
    </div>

    <!-- hero -->
    <div class="home__section home__section--hero">
        <div class="hero__main">
            <div class="hero__left-section">
                <div class="image-background bg">
                    <!-- <div class="bg-element-1"></div>
                    <div class="bg-element-2"></div> -->
                    <div class="bg-element-3"></div>
                    <div class="bg-element-4"></div>
                    <div class="bg-element-5">
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                        <div class="bg-dot"></div>
                    </div>
                </div>
                <div class="image">
                    <img src="assets\images\ChatGPT Image Apr 18, 2026, 02_54_46 PM.png" alt="">
                </div>
            </div>
            <div class="hero__right-section">
                <p class="hero__title">
                    Learn. Teach. Grow.
                    <br>
                    Shape your <span>future.</span>
                </p>
                <p class="hero__description">
                    Learnova helps you build and share the skills you need to achieve your goals and unlock new opportunities.
                </p>
                <button data-route="explore-courses">
                    Explore Courses
                </button>
            </div>
        </div>
        <div class="hero__highlights">
            <div class="hero__highlight">
                <div class="hero__highlight-icon">
                    <img src="assets\icons\icons8-clock-96.png" alt="">
                </div>
                <div class="hero__highlight-details">
                    <div class="hero__highlight-title">Learn anytime</div>
                    <div class="hero__highlight-description">Study at your own pace, on your schedule</div>
                </div>
            </div>
            <div class="hero__highlight">
                <div class="hero__highlight-icon">
                    <img src="assets\icons\icons8-compass-100.png" alt="">
                </div>
                <div class="hero__highlight-details">
                    <div class="hero__highlight-title">Explore courses easily</div>
                    <div class="hero__highlight-description">Find courses across tech, business, and more in seconds</div>
                </div>
            </div>
            <div class="hero__highlight">
                <div class="hero__highlight-icon">
                    <img src="assets\icons\icons8-handshake-96.png" alt="">
                </div>
                <div class="hero__highlight-details">
                    <div class="hero__highlight-title">Learn together</div>
                    <div class="hero__highlight-description">Collaborate with others through classrooms and institutions</div>
                </div>
            </div>
            <div class="hero__highlight">
                <div class="hero__highlight-icon">
                    <img src="assets\icons\icons8-tools-100.png" alt="">
                </div>
                <div class="hero__highlight-details">
                    <div class="hero__highlight-title">Build real skills</div>
                    <div class="hero__highlight-description">Gain practical knowledge for academic and career growth</div>
                </div>
            </div>
        </div>
    </div>

    <!-- features -->
    <div class="home__section home__section--features">
        <div class="features__left-section">
            <p class="features__title">What <img src="assets\images\learnova-text.png" alt=""> offers</p>
            <div class="features__description">
                Whether you're learning new skills, teaching others, or managing education at scale, Learnova brings everything together in one powerful platform.
            </div>
        </div>
        <div class="features__middle-section">
            <div class="features__card features__card--courses">
                <div class="features__card-icon">
                    <img src="assets\icons\icons8-open-book-100.png" alt="">
                </div>
                <div class="features__card-title">1. Create & Explore Courses</div>
                <div class="features__card-description">Build structured courses or discover new ones created by others—learn at your pace or share your knowledge with the world.</div>
            </div>
            <div class="features__card features__card--classrooms">
                <div class="features__card-icon">
                    <img src="assets\icons\icons8-group-of-people-100.png" alt="">
                </div>
                <div class="features__card-title">2. Manage & Join Classrooms</div>
                <div class="features__card-description">Create interactive classrooms to guide learners, or join existing ones to collaborate, participate, and stay on track together.</div>
            </div>
            <div class="features__card features__card--institutions">
                <div class="features__card-icon">
                    <img src="assets\icons\icons8-institution-100 (1).png" alt="">
                </div>
                <div class="features__card-title">3. Access & Manage Institutional Learning</div>
                <div class="features__card-description">Join an institution's Learnova learning environment to access programs and coursework, or manage learning operations through a centralized system.</div>
            </div>
        </div>
        <div class="features__right-section">
            <div class="image">
                <img src="assets\images\designstrive-apple-macbook-pro-6306821_1280.png" alt="">
            </div>
            <div class="preview-cards">
                <div class="features__preview-card features__preview-card--1">1</div>
                <div class="features__preview-card features__preview-card--2">2</div>
            </div>
        </div>
    </div>

    <!-- featured course -->
    <div class="home__section home__section--featured-courses">
        <div class="section-header">
            <div class="section-header-title">Start building the knowledge and skills that move you forward <span class="area-display">in <span class="area-name"></span></span></div>

            <div class="area-list">
                <button class="area__button area__button--clear area__button--selected" data-area="clear">
                    X
                </button>
                <button class="area__button">Computer science</button>
                <button class="area__button">Web development</button>
                <button class="area__button">Agriculture</button>
                <button class="area__button">Technology</button>
                <button class="area__button">Artificial intelligence</button>
            </div>

        </div>
        <div class="section-slider">
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
            <div class="section-slide course-card">

                <div class="course-card__image-wrapper">
                    <img src="\assets\images\geralt-ai-generated-9295105_1280.jpg" alt="">
                </div>

                <div class="course-card__content">
                    <p class="course-card__title">
                        Title
                    </p>

                    <p class="course-card__instructor">
                        Instructor
                    </p>

                    <div class="course-card__description">
                        Description
                    </div>

                    <div class="course-card__level">
                        Beginner
                    </div>

                    <div class="course-card__cost">
                        Free
                    </div>

                    <div class="course-card__footer">
                        <div class="course-card__rating">Rating</div>
                        <button class="course-card__view-button">View Course</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- classrooms -->
    <div class="home__section home__section--classrooms"></div>

    <!-- institutions -->
    <div class="home__section home__section--classrooms"></div>
</div>
