.login-card {
    .forgot-password {
        display: none;
    }
}
.forgot-password {
    .header {
        text-align: center;
        margin-bottom: 30px;
        h1 {
            margin-bottom: 15px;
        }
        .subheader {
            color: gray;
            margin-bottom: 10px;
        }
        .sign-in-text {
            .sign-in-page-button {
                color: var(--span-color);
            }
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .email-input-field {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 5px;
            padding: 0 12px;
        }
        .buttons {
            margin-top: 15px;
            width: 100%;
            height: 40px;
            display: flex;
            gap: 5px;
            & > * {
                flex: 1;
                border-radius: 5px;
                border: none;
            }
            .sign-in-page-button {
                background-color: transparent;
                border: 1px solid gray;
            }
            #reset-password-button {
                background-color: var(--card-submit-background-color);
            }
        }
    }
}