.login-card {
    .register {
        display: none;
    }
}
.register {
    .header {
        text-align: center;
        margin-bottom: 30px;
        h1 {
            margin-bottom: 15px;
        }
        .subheader {
            color: gray;
            margin-bottom: 10px;
        }
        .sign-in-text {
            .sign-in-page-button {
                color: var(--span-color);
            }
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 5px;
            padding: 0 12px;
            &:not(.last-name-input-field){
                margin-bottom: 10px;
            }
        }
        #register-button {
            margin-top: 15px;
            background-color: var(--card-submit-background-color);
        }
    }
}